In [25]:
# import data scraped in metascraper.ipynb

In [42]:
import pandas as pd
import numpy as np
import re
import string
from nltk.corpus import stopwords

In [43]:
colname = ['critic_rating_val', 'critic_rating_num', 'user_rating', 'user_rating_num', 'mpaa_rating', 'genres', 'movie_date', 'movie_name', 'description', 'current_url']

In [46]:
meta = pd.read_table('/Users/bradyfowler/Documents/Summer Session/CS 5010/metacritic/movie_details.txt', sep='|', names=colname)

In [47]:
meta.describe()

,critic_rating_val,critic_rating_num,user_rating,user_rating_num,mpaa_rating,genres,movie_date,movie_name,description,current_url
count,9202,9202,9202,9202,9202,9202,9202,9202,9202,9202
unique,78,48,84,728,20,1132,2180,9073,9199,9202
top,65,7,tbd,- Awaiting 3 more ratings,R,['Drama'],TBA,Unknown,Unknown,/movie/ali
freq,229,532,1965,575,3277,1170,40,5,3,1

In [48]:
#meta['movie_date'] = meta['movie_date'].replace('TBA', np.nan)
meta['movie_date'] = pd.to_datetime(meta['movie_date'], errors='coerce')

In [49]:
# strip out punctuation from description
meta['c_desc'] = meta['description'].str.replace('[^\w\s]','')

In [57]:
set(list(meta['movie_date']))

{Timestamp('2003-02-21 00:00:00'),
 Timestamp('2014-06-27 00:00:00'),
 NaT,
 Timestamp('2015-12-25 00:00:00'),
 Timestamp('2014-09-12 00:00:00'),
 Timestamp('1995-09-15 00:00:00'),
 Timestamp('1990-07-27 00:00:00'),
 Timestamp('1997-08-15 00:00:00'),
 Timestamp('2009-05-07 00:00:00'),
 Timestamp('2011-06-08 00:00:00'),
 Timestamp('1995-06-16 00:00:00'),
 Timestamp('2000-06-30 00:00:00'),
 Timestamp('2003-09-10 00:00:00'),
 Timestamp('1993-09-10 00:00:00'),
 Timestamp('2016-10-14 00:00:00'),
 Timestamp('2006-05-24 00:00:00'),
 Timestamp('2007-07-18 00:00:00'),
 Timestamp('2004-05-19 00:00:00'),
 Timestamp('2013-03-13 00:00:00'),
 Timestamp('2013-11-06 00:00:00'),
 Timestamp('2014-05-09 00:00:00'),
 Timestamp('2001-10-26 00:00:00'),
 Timestamp('2000-08-25 00:00:00'),
 Timestamp('2009-10-30 00:00:00'),
 Timestamp('1997-03-26 00:00:00'),
 Timestamp('2003-01-08 00:00:00'),
 Timestamp('2006-12-01 00:00:00'),
 Timestamp('2005-02-11 00:00:00'),
 Timestamp('2011-11-05 00:00:00'),
 Timestamp('1997-03-05 00:00:00'),
 Timestamp('1990-03-23 00:00:00'),
 Timestamp('2010-09-22 00:00:00'),
 Timestamp('2000-07-26 00:00:00'),
 Timestamp('2009-03-20 00:00:00'),
 Timestamp('2012-06-22 00:00:00'),
 Timestamp('1998-04-24 00:00:00'),
 Timestamp('1988-11-11 00:00:00'),
 Timestamp('1999-09-03 00:00:00'),
 Timestamp('1974-06-20 00:00:00'),
 Timestamp('1991-03-01 00:00:00'),
 Timestamp('2006-10-20 00:00:00'),
 Timestamp('2014-07-02 00:00:00'),
 Timestamp('1986-09-19 00:00:00'),
 Timestamp('2006-07-07 00:00:00'),
 Timestamp('2005-12-21 00:00:00'),
 Timestamp('2003-06-13 00:00:00'),
 Timestamp('2014-10-29 00:00:00'),
 Timestamp('2003-11-19 00:00:00'),
 Timestamp('2012-04-27 00:00:00'),
 Timestamp('1996-10-04 00:00:00'),
 Timestamp('2005-09-02 00:00:00'),
 Timestamp('2003-10-31 00:00:00'),
 Timestamp('1998-07-15 00:00:00'),
 Timestamp('1980-10-03 00:00:00'),
 Timestamp('1986-07-18 00:00:00'),
 Timestamp('2009-02-18 00:00:00'),
 Timestamp('2004-11-26 00:00:00'),
 Timestamp('1993-12-15 00:00:00'),
 Timestamp('2014-08-27 00:00:00'),
 Timestamp('1990-01-19 00:00:00'),
 Timestamp('1985-12-09 00:00:00'),
 Timestamp('1993-10-03 00:00:00'),
 Timestamp('1987-10-23 00:00:00'),
 Timestamp('2015-05-22 00:00:00'),
 Timestamp('1989-11-08 00:00:00'),
 Timestamp('1993-04-07 00:00:00'),
 Timestamp('2001-12-12 00:00:00'),
 Timestamp('2011-08-31 00:00:00'),
 Timestamp('2016-02-26 00:00:00'),
 Timestamp('2006-11-10 00:00:00'),
 Timestamp('2014-02-07 00:00:00'),
 Timestamp('1997-04-09 00:00:00'),
 Timestamp('1997-09-17 00:00:00'),
 Timestamp('2008-07-02 00:00:00'),
 Timestamp('2014-03-21 00:00:00'),
 Timestamp('2004-12-03 00:00:00'),
 Timestamp('2014-01-10 00:00:00'),
 Timestamp('1996-11-15 00:00:00'),
 Timestamp('2014-12-31 00:00:00'),
 Timestamp('2008-06-20 00:00:00'),
 Timestamp('1998-11-16 00:00:00'),
 Timestamp('1997-10-15 00:00:00'),
 Timestamp('2006-01-27 00:00:00'),
 Timestamp('2004-05-07 00:00:00'),
 Timestamp('2001-02-16 00:00:00'),
 Timestamp('1989-12-22 00:00:00'),
 Timestamp('2006-12-25 00:00:00'),
 Timestamp('2008-12-17 00:00:00'),
 Timestamp('2014-10-10 00:00:00'),
 Timestamp('2009-10-09 00:00:00'),
 Timestamp('2006-09-01 00:00:00'),
 Timestamp('1999-01-22 00:00:00'),
 Timestamp('2005-02-02 00:00:00'),
 Timestamp('2007-11-16 00:00:00'),
 Timestamp('2014-10-01 00:00:00'),
 Timestamp('2004-10-01 00:00:00'),
 Timestamp('2008-01-25 00:00:00'),
 Timestamp('2012-02-10 00:00:00'),
 Timestamp('1997-08-22 00:00:00'),
 Timestamp('2004-11-05 00:00:00'),
 Timestamp('1995-12-20 00:00:00'),
 Timestamp('2003-10-17 00:00:00'),
 Timestamp('2000-05-05 00:00:00'),
 Timestamp('2011-01-19 00:00:00'),
 Timestamp('1983-10-21 00:00:00'),
 Timestamp('2011-08-26 00:00:00'),
 Timestamp('2015-01-28 00:00:00'),
 Timestamp('1974-12-12 00:00:00'),
 Timestamp('2013-12-06 00:00:00'),
 Timestamp('2009-09-11 00:00:00'),
 Timestamp('2003-07-09 00:00:00'),
 Timestamp('2001-06-20 00:00:00'),
 Timestamp('2013-09-06 00:00:00'),
 Timestamp('2010-08-13 00:00:00'),
 Timestamp('1997-02-07 00:00:00'),
 Timestamp('1994-03-09 00:00:00'),
 Timestamp('1985-11-22 00:00:00'),
 Timestamp('2008-10-15 00:00:00'),
 Timestamp('2007-06-29 00:00:00'),
 Timestamp('1982-03-05 00:00:00'),
 Timestamp('2001-05-03 00:00:00'),
 Timestamp('2007-12-19 00:00:00'),
 Timestamp('2002-07-12 00:00:00'),
 Timestamp('1996-09-20 00:00:00'),
 Timestamp('1993-05-28 00:00:00'),
 Timestamp('2000-11-22 00:00:00'),
 Timestamp('2007-05-04 00:00:00'),
 Timestamp('2005-02-09 00:00:00'),
 Timestamp('2008-01-11 00:00:00'),
 Timestamp('2002-09-11 00:00:00'),
 Timestamp('2010-01-15 00:00:00'),
 Timestamp('2010-08-06 00:00:00'),
 Timestamp('2004-12-08 00:00:00'),
 Timestamp('1993-06-30 00:00:00'),
 Timestamp('2010-07-16 00:00:00'),
 Timestamp('1991-12-27 00:00:00'),
 Timestamp('2010-05-27 00:00:00'),
 Timestamp('2003-10-22 00:00:00'),
 Timestamp('2015-05-20 00:00:00'),
 Timestamp('1987-06-12 00:00:00'),
 Timestamp('2009-08-28 00:00:00'),
 Timestamp('2002-04-10 00:00:00'),
 Timestamp('1999-09-10 00:00:00'),
 Timestamp('2016-03-02 00:00:00'),
 Timestamp('1997-07-11 00:00:00'),
 Timestamp('1999-12-10 00:00:00'),
 Timestamp('2015-02-18 00:00:00'),
 Timestamp('1996-06-21 00:00:00'),
 Timestamp('2002-12-31 00:00:00'),
 Timestamp('2008-04-09 00:00:00'),
 Timestamp('2011-04-27 00:00:00'),
 Timestamp('2013-04-17 00:00:00'),
 Timestamp('1993-02-26 00:00:00'),
 Timestamp('2014-04-11 00:00:00'),
 Timestamp('1997-03-19 00:00:00'),
 Timestamp('1996-08-07 00:00:00'),
 Timestamp('2013-05-08 00:00:00'),
 Timestamp('2001-05-18 00:00:00'),
 Timestamp('1991-08-23 00:00:00'),
 Timestamp('2016-05-06 00:00:00'),
 Timestamp('1998-08-21 00:00:00'),
 Timestamp('2012-03-30 00:00:00'),
 Timestamp('2014-06-11 00:00:00'),
 Timestamp('2011-08-05 00:00:00'),
 Timestamp('2004-01-09 00:00:00'),
 Timestamp('2000-08-04 00:00:00'),
 Timestamp('1997-08-08 00:00:00'),
 Timestamp('2009-10-28 00:00:00'),
 Timestamp('1996-04-26 00:00:00'),
 Timestamp('2009-11-20 00:00:00'),
 Timestamp('2006-01-06 00:00:00'),
 Timestamp('2003-10-24 00:00:00'),
 Timestamp('2008-05-22 00:00:00'),
 Timestamp('2003-09-26 00:00:00'),
 Timestamp('2007-11-28 00:00:00'),
 Timestamp('1999-12-29 00:00:00'),
 Timestamp('2013-08-16 00:00:00'),
 Timestamp('2006-03-22 00:00:00'),
 Timestamp('2016-07-15 00:00:00'),
 Timestamp('2009-05-27 00:00:00'),
 Timestamp('2008-10-31 00:00:00'),
 Timestamp('2011-04-01 00:00:00'),
 Timestamp('2016-01-20 00:00:00'),
 Timestamp('2011-07-22 00:00:00'),
 Timestamp('2010-11-03 00:00:00'),
 Timestamp('1998-11-13 00:00:00'),
 Timestamp('2014-04-25 00:00:00'),
 Timestamp('2008-06-25 00:00:00'),
 Timestamp('2003-02-19 00:00:00'),
 Timestamp('2013-06-12 00:00:00'),
 Timestamp('1986-11-07 00:00:00'),
 Timestamp('2002-05-29 00:00:00'),
 Timestamp('2005-07-13 00:00:00'),
 Timestamp('2013-03-15 00:00:00'),
 Timestamp('2006-08-11 00:00:00'),
 Timestamp('2015-08-21 00:00:00'),
 Timestamp('2011-01-05 00:00:00'),
 Timestamp('1999-01-29 00:00:00'),
 Timestamp('2013-12-04 00:00:00'),
 Timestamp('2005-11-03 00:00:00'),
 Timestamp('2008-03-05 00:00:00'),
 Timestamp('1987-05-15 00:00:00'),
 Timestamp('2001-12-25 00:00:00'),
 Timestamp('2013-01-31 00:00:00'),
 Timestamp('2005-11-25 00:00:00'),
 Timestamp('2009-07-29 00:00:00'),
 Timestamp('2008-06-06 00:00:00'),
 Timestamp('1996-01-05 00:00:00'),
 Timestamp('2003-02-26 00:00:00'),
 Timestamp('1994-09-01 00:00:00'),
 Timestamp('2002-05-15 00:00:00'),
 Timestamp('1967-12-21 00:00:00'),
 Timestamp('2009-01-23 00:00:00'),
 Timestamp('1997-09-19 00:00:00'),
 Timestamp('2002-12-06 00:00:00'),
 Timestamp('1993-08-20 00:00:00'),
 Timestamp('2010-09-15 00:00:00'),
 Timestamp('2006-06-06 00:00:00'),
 Timestamp('1983-06-17 00:00:00'),
 Timestamp('2009-02-13 00:00:00'),
 Timestamp('1996-06-14 00:00:00'),
 Timestamp('2005-04-08 00:00:00'),
 Timestamp('2009-08-14 00:00:00'),
 Timestamp('2006-12-21 00:00:00'),
 Timestamp('2003-06-06 00:00:00'),
 Timestamp('2004-06-25 00:00:00'),
 Timestamp('2013-03-22 00:00:00'),
 Timestamp('2013-05-03 00:00:00'),
 Timestamp('2001-08-31 00:00:00'),
 Timestamp('1981-06-19 00:00:00'),
 Timestamp('2005-11-16 00:00:00'),
 Timestamp('1939-05-12 00:00:00'),
 Timestamp('2007-05-09 00:00:00'),
 Timestamp('2007-04-13 00:00:00'),
 Timestamp('2000-11-03 00:00:00'),
 Timestamp('1971-12-20 00:00:00'),
 Timestamp('2002-04-26 00:00:00'),
 Timestamp('1992-01-17 00:00:00'),
 Timestamp('2011-04-08 00:00:00'),
 Timestamp('1992-09-29 00:00:00'),
 Timestamp('2009-11-27 00:00:00'),
 Timestamp('1983-05-25 00:00:00'),
 Timestamp('1983-09-21 00:00:00'),
 Timestamp('2002-11-08 00:00:00'),
 Timestamp('2000-08-30 00:00:00'),
 Timestamp('2010-02-26 00:00:00'),
 Timestamp('2009-12-16 00:00:00'),
 Timestamp('2001-10-03 00:00:00'),
 Timestamp('1988-08-12 00:00:00'),
 Timestamp('2009-05-20 00:00:00'),
 Timestamp('2006-05-12 00:00:00'),
 Timestamp('2013-12-25 00:00:00'),
 Timestamp('1997-11-14 00:00:00'),
 Timestamp('2001-12-21 00:00:00'),
 Timestamp('2012-01-27 00:00:00'),
 Timestamp('1997-10-03 00:00:00'),
 Timestamp('2014-05-01 00:00:00'),
 Timestamp('2003-07-02 00:00:00'),
 Timestamp('2010-08-27 00:00:00'),
 Timestamp('1995-09-22 00:00:00'),
 Timestamp('2011-10-07 00:00:00'),
 Timestamp('1994-04-29 00:00:00'),
 Timestamp('1998-08-28 00:00:00'),
 Timestamp('2009-06-26 00:00:00'),
 Timestamp('2000-12-27 00:00:00'),
 Timestamp('2007-08-29 00:00:00'),
 Timestamp('1991-01-18 00:00:00'),
 Timestamp('1998-08-14 00:00:00'),
 Timestamp('2009-06-11 00:00:00'),
 Timestamp('1981-03-27 00:00:00'),
 Timestamp('2000-09-13 00:00:00'),
 Timestamp('2015-10-23 00:00:00'),
 Timestamp('1995-11-10 00:00:00'),
 Timestamp('2004-10-22 00:00:00'),
 Timestamp('1990-11-09 00:00:00'),
 Timestamp('1984-05-23 00:00:00'),
 Timestamp('2003-09-24 00:00:00'),
 Timestamp('1990-10-12 00:00:00'),
 Timestamp('1998-07-22 00:00:00'),
 Timestamp('2009-07-15 00:00:00'),
 Timestamp('1986-02-07 00:00:00'),
 Timestamp('2007-12-07 00:00:00'),
 Timestamp('1998-11-04 00:00:00'),
 Timestamp('2005-04-29 00:00:00'),
 Timestamp('2007-03-23 00:00:00'),
 Timestamp('2009-02-25 00:00:00'),
 Timestamp('2008-08-08 00:00:00'),
 Timestamp('2007-04-25 00:00:00'),
 Timestamp('2009-01-16 00:00:00'),
 Timestamp('1998-02-06 00:00:00'),
 Timestamp('1999-04-02 00:00:00'),
 Timestamp('2000-10-20 00:00:00'),
 Timestamp('2016-02-05 00:00:00'),
 Timestamp('2003-04-25 00:00:00'),
 Timestamp('2006-05-05 00:00:00'),
 Timestamp('2015-01-14 00:00:00'),
 Timestamp('2007-07-20 00:00:00'),
 Timestamp('2014-09-26 00:00:00'),
 Timestamp('2014-08-08 00:00:00'),
 Timestamp('2010-12-22 00:00:00'),
 Timestamp('2000-06-09 00:00:00'),
 Timestamp('2005-04-15 00:00:00'),
 Timestamp('2001-11-09 00:00:00'),
 Timestamp('1997-11-26 00:00:00'),
 Timestamp('2006-11-17 00:00:00'),
 Timestamp('2002-05-08 00:00:00'),
 Timestamp('2011-09-20 00:00:00'),
 Timestamp('1990-12-25 00:00:00'),
 Timestamp('2011-10-01 00:00:00'),
 Timestamp('1991-11-15 00:00:00'),
 Timestamp('1990-12-21 00:00:00'),
 Timestamp('1994-12-09 00:00:00'),
 Timestamp('2011-07-27 00:00:00'),
 Timestamp('1997-12-31 00:00:00'),
 Timestamp('2010-10-27 00:00:00'),
 Timestamp('1994-05-24 00:00:00'),
 Timestamp('2011-09-09 00:00:00'),
 Timestamp('1984-07-27 00:00:00'),
 Timestamp('2010-09-10 00:00:00'),
 Timestamp('2006-03-17 00:00:00'),
 Timestamp('2004-06-02 00:00:00'),
 Timestamp('2007-04-11 00:00:00'),
 Timestamp('2003-12-05 00:00:00'),
 Timestamp('2013-03-08 00:00:00'),
 Timestamp('2008-04-18 00:00:00'),
 Timestamp('2001-01-19 00:00:00'),
 Timestamp('1991-02-08 00:00:00'),
 Timestamp('1988-06-17 00:00:00'),
 Timestamp('1994-06-03 00:00:00'),
 Timestamp('2009-07-17 00:00:00'),
 Timestamp('2008-10-10 00:00:00'),
 Timestamp('2008-02-08 00:00:00'),
 Timestamp('2010-03-26 00:00:00'),
 Timestamp('1984-10-18 00:00:00'),
 Timestamp('1991-03-15 00:00:00'),
 Timestamp('1995-08-16 00:00:00'),
 Timestamp('2006-09-27 00:00:00'),
 Timestamp('2015-08-28 00:00:00'),
 Timestamp('1997-07-18 00:00:00'),
 Timestamp('1997-07-25 00:00:00'),
 Timestamp('1998-06-12 00:00:00'),
 Timestamp('1990-11-16 00:00:00'),
 Timestamp('2012-05-18 00:00:00'),
 Timestamp('2002-06-05 00:00:00'),
 Timestamp('2005-08-05 00:00:00'),
 Timestamp('2009-04-22 00:00:00'),
 Timestamp('1982-06-18 00:00:00'),
 Timestamp('2003-08-29 00:00:00'),
 Timestamp('2004-11-12 00:00:00'),
 Timestamp('2004-09-17 00:00:00'),
 Timestamp('1991-10-25 00:00:00'),
 Timestamp('2010-04-02 00:00:00'),
 Timestamp('1999-10-22 00:00:00'),
 Timestamp('2001-10-17 00:00:00'),
 Timestamp('2006-03-08 00:00:00'),
 Timestamp('2011-11-09 00:00:00'),
 Timestamp('2005-12-07 00:00:00'),
 Timestamp('1995-03-15 00:00:00'),
 Timestamp('2005-08-19 00:00:00'),
 Timestamp('2005-06-22 00:00:00'),
 Timestamp('2004-03-03 00:00:00'),
 Timestamp('2013-03-20 00:00:00'),
 Timestamp('1993-12-23 00:00:00'),
 Timestamp('2010-02-19 00:00:00'),
 Timestamp('2011-02-02 00:00:00'),
 Timestamp('2000-10-27 00:00:00'),
 Timestamp('1996-08-23 00:00:00'),
 Timestamp('2016-01-22 00:00:00'),
 Timestamp('2002-03-29 00:00:00'),
 Timestamp('1998-10-23 00:00:00'),
 Timestamp('2008-07-11 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2008-07-04 00:00:00'),
 Timestamp('1995-11-22 00:00:00'),
 Timestamp('1999-11-17 00:00:00'),
 Timestamp('2014-01-17 00:00:00'),
 Timestamp('2002-10-16 00:00:00'),
 Timestamp('2010-12-03 00:00:00'),
 Timestamp('2001-07-18 00:00:00'),
 Timestamp('2006-03-24 00:00:00'),
 Timestamp('2010-05-28 00:00:00'),
 Timestamp('2003-07-24 00:00:00'),
 Timestamp('1975-09-26 00:00:00'),
 Timestamp('2010-07-02 00:00:00'),
 Timestamp('1998-04-10 00:00:00'),
 Timestamp('2005-03-23 00:00:00'),
 Timestamp('1998-12-30 00:00:00'),
 Timestamp('2004-04-09 00:00:00'),
 Timestamp('1995-06-30 00:00:00'),
 Timestamp('2000-06-21 00:00:00'),
 Timestamp('2003-01-16 00:00:00'),
 Timestamp('2000-01-14 00:00:00'),
 Timestamp('2016-04-01 00:00:00'),
 Timestamp('2006-07-28 00:00:00'),
 Timestamp('2009-04-17 00:00:00'),
 Timestamp('2015-09-09 00:00:00'),
 Timestamp('2007-10-17 00:00:00'),
 Timestamp('2010-03-12 00:00:00'),
 Timestamp('1995-04-28 00:00:00'),
 Timestamp('2007-03-07 00:00:00'),
 Timestamp('2011-07-08 00:00:00'),
 Timestamp('2006-03-01 00:00:00'),
 Timestamp('2008-12-12 00:00:00'),
 Timestamp('1997-01-10 00:00:00'),
 Timestamp('1986-03-14 00:00:00'),
 Timestamp('2003-01-29 00:00:00'),
 Timestamp('2006-08-25 00:00:00'),
 Timestamp('2013-03-01 00:00:00'),
 Timestamp('1998-10-09 00:00:00'),
 Timestamp('2009-08-26 00:00:00'),
 Timestamp('1994-08-26 00:00:00'),
 Timestamp('1998-05-19 00:00:00'),
 Timestamp('2009-10-16 00:00:00'),
 Timestamp('2011-12-14 00:00:00'),
 Timestamp('1985-08-09 00:00:00'),
 Timestamp('2000-03-24 00:00:00'),
 Timestamp('2002-02-22 00:00:00'),
 Timestamp('1998-02-27 00:00:00'),
 Timestamp('1998-01-30 00:00:00'),
 Timestamp('2010-03-17 00:00:00'),
 Timestamp('1997-02-21 00:00:00'),
 Timestamp('2004-07-07 00:00:00'),
 Timestamp('2004-10-13 00:00:00'),
 Timestamp('1994-06-15 00:00:00'),
 Timestamp('2015-03-20 00:00:00'),
 Timestamp('2013-02-14 00:00:00'),
 Timestamp('2012-12-14 00:00:00'),
 Timestamp('2007-01-19 00:00:00'),
 Timestamp('2000-12-01 00:00:00'),
 Timestamp('2006-12-15 00:00:00'),
 Timestamp('2009-09-02 00:00:00'),
 Timestamp('1998-07-29 00:00:00'),
 Timestamp('2014-10-31 00:00:00'),
 Timestamp('1992-07-11 00:00:00'),
 Timestamp('2006-12-13 00:00:00'),
 Timestamp('2013-05-22 00:00:00'),
 Timestamp('2005-07-06 00:00:00'),
 Timestamp('2005-08-12 00:00:00'),
 Timestamp('2006-05-26 00:00:00'),
 Timestamp('1992-05-08 00:00:00'),
 Timestamp('1998-03-11 00:00:00'),
 Timestamp('2012-11-09 00:00:00'),
 Timestamp('2003-06-25 00:00:00'),
 Timestamp('2014-12-10 00:00:00'),
 Timestamp('2009-12-30 00:00:00'),
 Timestamp('2001-10-31 00:00:00'),
 Timestamp('2016-03-25 00:00:00'),
 Timestamp('2009-04-10 00:00:00'),
 Timestamp('2016-07-08 00:00:00'),
 Timestamp('2013-08-23 00:00:00'),
 Timestamp('1984-03-02 00:00:00'),
 Timestamp('2007-07-25 00:00:00'),
 Timestamp('1988-02-26 00:00:00'),
 Timestamp('1999-06-11 00:00:00'),
 Timestamp('1997-06-13 00:00:00'),
 Timestamp('2016-02-03 00:00:00'),
 Timestamp('1982-07-28 00:00:00'),
 Timestamp('1995-06-23 00:00:00'),
 Timestamp('1999-04-16 00:00:00'),
 Timestamp('2002-11-20 00:00:00'),
 Timestamp('1982-05-14 00:00:00'),
 Timestamp('1990-05-04 00:00:00'),
 Timestamp('2002-01-25 00:00:00'),
 Timestamp('2005-07-29 00:00:00'),
 Timestamp('2005-08-26 00:00:00'),
 Timestamp('2006-07-21 00:00:00'),
 Timestamp('1992-12-11 00:00:00'),
 Timestamp('2012-08-10 00:00:00'),
 Timestamp('2005-03-11 00:00:00'),
 Timestamp('2001-08-24 00:00:00'),
 Timestamp('2009-03-06 00:00:00'),
 Timestamp('2002-04-19 00:00:00'),
 Timestamp('2004-05-05 00:00:00'),
 Timestamp('2006-04-21 00:00:00'),
 Timestamp('2001-02-02 00:00:00'),
 Timestamp('1990-08-24 00:00:00'),
 Timestamp('2011-06-10 00:00:00'),
 Timestamp('2011-07-06 00:00:00'),
 Timestamp('2000-03-22 00:00:00'),
 Timestamp('2001-03-23 00:00:00'),
 Timestamp('2005-03-04 00:00:00'),
 Timestamp('2012-04-13 00:00:00'),
 Timestamp('2004-10-06 00:00:00'),
 Timestamp('2002-09-20 00:00:00'),
 Timestamp('1996-11-27 00:00:00'),
 Timestamp('2001-04-18 00:00:00'),
 Timestamp('2009-12-25 00:00:00'),
 Timestamp('1990-03-02 00:00:00'),
 Timestamp('2002-07-05 00:00:00'),
 Timestamp('2004-10-15 00:00:00'),
 Timestamp('2002-05-17 00:00:00'),
 Timestamp('1989-06-09 00:00:00'),
 Timestamp('2012-02-03 00:00:00'),
 Timestamp('2011-10-28 00:00:00'),
 Timestamp('1988-08-19 00:00:00'),
 Timestamp('2011-05-13 00:00:00'),
 Timestamp('2007-11-14 00:00:00'),
 Timestamp('2001-06-15 00:00:00'),
 Timestamp('1998-03-27 00:00:00'),
 Timestamp('1993-11-24 00:00:00'),
 Timestamp('2002-11-01 00:00:00'),
 Timestamp('2009-07-03 00:00:00'),
 Timestamp('2006-09-29 00:00:00'),
 Timestamp('1998-06-05 00:00:00'),
 Timestamp('1994-10-26 00:00:00'),
 Timestamp('2003-02-14 00:00:00'),
 Timestamp('2004-04-16 00:00:00'),
 Timestamp('1989-10-13 00:00:00'),
 Timestamp('2010-07-01 00:00:00'),
 Timestamp('2005-02-04 00:00:00'),
 Timestamp('1995-07-19 00:00:00'),
 Timestamp('1987-06-24 00:00:00'),
 Timestamp('2001-11-30 00:00:00'),
 Timestamp('2013-07-05 00:00:00'),
 Timestamp('2014-02-14 00:00:00'),
 Timestamp('2015-06-12 00:00:00'),
 Timestamp('2010-02-03 00:00:00'),
 Timestamp('2000-11-08 00:00:00'),
 Timestamp('2011-11-16 00:00:00'),
 Timestamp('2015-12-11 00:00:00'),
 Timestamp('1997-01-24 00:00:00'),
 Timestamp('2009-06-24 00:00:00'),
 Timestamp('2001-01-12 00:00:00'),
 Timestamp('2015-10-30 00:00:00'),
 Timestamp('2006-05-31 00:00:00'),
 Timestamp('2016-06-08 00:00:00'),
 Timestamp('2012-07-18 00:00:00'),
 Timestamp('2001-03-14 00:00:00'),
 Timestamp('1996-12-15 00:00:00'),
 Timestamp('1992-04-17 00:00:00'),
 Timestamp('2010-11-10 00:00:00'),
 Timestamp('2002-03-22 00:00:00'),
 Timestamp('2010-08-18 00:00:00'),
 Timestamp('2016-05-13 00:00:00'),
 Timestamp('1987-07-22 00:00:00'),
 Timestamp('1998-07-17 00:00:00'),
 Timestamp('2009-12-23 00:00:00'),
 Timestamp('2015-10-02 00:00:00'),
 Timestamp('1994-05-06 00:00:00'),
 Timestamp('2011-03-17 00:00:00'),
 Timestamp('1992-10-09 00:00:00'),
 Timestamp('2013-09-11 00:00:00'),
 Timestamp('2005-06-03 00:00:00'),
 Timestamp('2002-09-25 00:00:00'),
 Timestamp('2000-09-08 00:00:00'),
 Timestamp('2010-10-22 00:00:00'),
 Timestamp('2005-04-01 00:00:00'),
 Timestamp('2009-04-24 00:00:00'),
 Timestamp('2016-05-25 00:00:00'),
 Timestamp('1979-12-19 00:00:00'),
 Timestamp('1998-12-23 00:00:00'),
 Timestamp('2006-09-06 00:00:00'),
 Timestamp('2008-08-20 00:00:00'),
 Timestamp('1996-03-22 00:00:00'),
 Timestamp('1975-11-19 00:00:00'),
 Timestamp('2011-01-28 00:00:00'),
 Timestamp('1995-03-24 00:00:00'),
 Timestamp('1997-12-17 00:00:00'),
 Timestamp('1979-12-07 00:00:00'),
 Timestamp('2006-04-12 00:00:00'),
 Timestamp('2006-09-20 00:00:00'),
 Timestamp('2003-04-02 00:00:00'),
 Timestamp('2006-02-10 00:00:00'),
 Timestamp('2005-09-30 00:00:00'),
 Timestamp('2010-05-14 00:00:00'),
 Timestamp('2015-03-06 00:00:00'),
 Timestamp('1987-08-25 00:00:00'),
 Timestamp('2009-07-01 00:00:00'),
 Timestamp('2012-03-28 00:00:00'),
 Timestamp('2016-02-19 00:00:00'),
 Timestamp('2006-10-04 00:00:00'),
 Timestamp('2005-06-15 00:00:00'),

In [ ]:
#words = [w for w in words if not w in stopwords.words("english")]
from collections import Counter
words = list(set(" ".join(meta['c_desc'].values.tolist()).split(" ")))
len(words)

In [17]:
happy = 'y'
while (happy=='y'):
    mon = input("What month were you born? ")
    day = input("What day were you born? ")
    matches = meta.loc[(meta['movie_date'].dt.month==int(mon)) & (meta['movie_date'].dt.day==int(day))]
    matches = list(matches['movie_name'])
    if len(matches) > 0:
        print('You may enjoy these movies that came out on your birthday:')
        [print(x) for x in matches]
    else:
        print('There are no movies in the dataset on that date!')
    happy = input('Would you like to try a different date? (y/n)')

What month were you born? 10
What day were you born? 22
You may enjoy these movies that came out on your birthday:
Punching the Clown
Would you like to try a different date? (y/n)y
What month were you born? 10
What day were you born? 23
You may enjoy these movies that came out on your birthday:
Paranormal Activity: The Ghost Dimension
Ong Bak 2
The Pearl Button
Extraordinary Tales
Difret
Apt Pupil
Astro Boy
Would you like to try a different date? (y/n)n